<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0.jpg</key>
	<string>小姑娘</string>
	<key>1.jpg</key>
	<string>盆景</string>
	<key>2.jpg</key>
	<string>两个小人一朵白花</string>
	<key>3.jpg</key>
	<string>盛开鲜艳的花</string>
	<key>4.jpg</key>
	<string>美丽的盆花</string>
	<key>5.jpg</key>
	<string>土壤孕育花朵</string>
	<key>6.jpg</key>
	<string>卡哇伊女孩</string>
</dict>
</plist>
