<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageCircularlyRollDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04ED3FF61D17E663009CC7B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04ED400F1D17E664009CC7B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04ED401A1D17E664009CC7B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
